* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --fill-active: #43acf2;
    --fill-not-active: #525975;
    --fill-disabled: #20222c;
}

body {
    background-color: #0f111a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    max-width: 95vw;
    margin-bottom: 50px;
    position: relative;
}

.progress-container::before {
    content: '' ;
    background-color: var(--fill-not-active);
    height: 3px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color:var(--fill-active);
    height: 3px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
    z-index: -1;
}

.checkpoint {
    background-color: var(--fill-disabled);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--fill-not-active);
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.checkpoint.active {
    border-color: var(--fill-active);
}

.btn {
    background-color: var(--fill-active);
    color: white;
    font-size: 0.9em;
    border: 0;
    border-radius: 5px;
    padding: 0.7em 1.5em;
    margin: 0 10px;    
    cursor: pointer;
}

.btn:disabled {  
    background-color: var(--fill-disabled);
    color: var(--fill-not-active);
    cursor: not-allowed;
}